{% extends "main.html" %} {% block content %}
<link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}" />

<div class="md-container home-page">
  <section class="home-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">
        <div class="headline-section">
          <h1 class="main-headline">Knative是一个用于构建无服务器<br />和事件驱动应用程序的开源企业级解决方案</h1>
          <h2>Kubernetes环境中的无服务器容器。</h2>
          <p style="display: block">
            <a href="{{ 'getting-started/' | url }}" class="md-button white md-button--primary">尝试本教程</a>
            <a href="{{ 'install/' | url }}" class="md-button white">在您的集群上安装Knative</a>
          </p>
          <div class="trusted-by-container">
            <h3 class="trusted-by">被信任</h3>
            <div id="usedby">
              <div class="logo">
                <img src="images/corporate-logos/Google.svg" alt="" draggable="false" />
              </div>
              <div class="logo">
                <img src="images/corporate-logos/vmware.svg" alt="" draggable="false" />
              </div>
              <div class="logo">
                <img src="images/corporate-logos/IBM.svg" alt="" draggable="false" />
              </div>
              <div class="logo">
                <img src="images/corporate-logos/Redhat.svg" alt="" draggable="false" />
              </div>
              <div class="logo triggermesh">
                <img src="images/corporate-logos/triggermesh_logo.svg" alt="" draggable="false" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="need-to-know-more-container">
    <div class="md-grid md-typeset">
      <h1>想知道更多吗?</h1>
      <p class="normal-text">了解Knative如何与Kubernetes一起工作，以及容器和无服务器基础设施背后的基本思想。</p>
      <a href="{{ 'getting-started/' | url }}" class="md-button call-to-action"> 探索 Knative </a>
    </div>
  </section>

  <section class="why-serverless-container">
    <div class="md-grid md-typeset">
      <h1>为什么serverless容器?</h1>
      <p class="normal-text">
        无服务器指的是在云中运行后端程序和进程。 无服务器的工作基于已使用的基础上，这意味着公司只使用他们付费的东西。
        Knative是一个平台无关的解决方案，用于运行无服务器部署。
      </p>
      <div class="img-table">
        <div class="img-row">
          <div class="img-col">
            <div class="reason-img">
              <img
                src="images/home-images/blue_simple_abstractions_icon.svg"
                onmouseover="this.src='images/home-images/dkblue_simple_abstractions_icon.svg'"
                onmouseout="this.src='images/home-images/blue_simple_abstractions_icon.svg'"
                alt=""
                draggable="false"
              />
            </div>
            <div class="reason-text">
              <h2>简单的抽象</h2>
              <p class="normal-text">用我们的定制crd简化您的YAML</p>
            </div>
          </div>
          <div class="img-col">
            <div class="reason-img">
              <img
                src="images/home-images/blue_autoscaling_icon.svg"
                onmouseover="this.src='images/home-images/dkblue_autoscaling_icon.svg'"
                onmouseout="this.src='images/home-images/blue_autoscaling_icon.svg'"
                alt=""
                draggable="false"
              />
            </div>
            <div class="reason-text">
              <h2>自动缩放</h2>
              <p class="normal-text">缩小到零,从零扩容</p>
            </div>
          </div>
          <div class="img-col">
            <div class="reason-img">
              <img
                src="images/home-images/blue_progressive_rollouts_icon.svg"
                onmouseover="this.src='images/home-images/dkblue_progressive_rollouts_icon.svg'"
                onmouseout="this.src='images/home-images/blue_progressive_rollouts_icon.svg'"
                alt=""
                draggable="false"
              />
            </div>
            <div class="reason-text">
              <h2>进步的发布</h2>
              <p class="normal-text">根据您的需要选择您的推出策略</p>
            </div>
          </div>
        </div>
        <div class="img-row">
          <div class="img-col">
            <div class="reason-img">
              <img
                src="images/home-images/blue_event_intergrations_icon.svg"
                onmouseover="this.src='images/home-images/dkblue_event_intergrations_icon.svg'"
                onmouseout="this.src='images/home-images/blue_event_intergrations_icon.svg'"
                alt=""
                draggable="false"
              />
            </div>
            <div class="reason-text">
              <h2>事件集成</h2>
              <p class="normal-text">处理来自多个来源的事件</p>
            </div>
          </div>
          <div class="img-col">
            <div class="reason-img">
              <img
                src="images/home-images/blue_handle_events_icon.svg"
                onmouseover="this.src='images/home-images/dkblue_handle_events_icon.svg'"
                onmouseout="this.src='images/home-images/blue_handle_events_icon.svg'"
                alt=""
                draggable="false"
              />
            </div>
            <div class="reason-text">
              <h2>处理事件</h2>
              <p class="normal-text">从事件代理触发处理程序</p>
            </div>
          </div>
          <div class="img-col">
            <div class="reason-img">
              <img
                src="images/home-images/blue_plugable_icon.svg"
                onmouseover="this.src='images/home-images/dkblue_plugable_icon.svg'"
                onmouseout="this.src='images/home-images/blue_plugable_icon.svg'"
                alt=""
                draggable="false"
              />
            </div>
            <div class="reason-text">
              <h2>Plugable</h2>
              <p class="normal-text">本机的 Kubernetes 可以被集成和扩展</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="knative-components-container">
    <div class="md-grid md-typeset">
      <h1>Knative组件</h1>
      <p class="normal-text">
        Knative有两个主要组件，为使用Kubernetes的团队提供了支持。 服务和事件化协同工作可以自动化和管理任务和应用程序。
      </p>
      <div class="components-content">
        <img class="components-img" src="images/home-images/knative_flowchart_graphic.svg" alt="" draggable="false" />
        <div class="text-table">
          <p class="normal-text">
            在Kubernetes中轻松运行无服务器容器。 Knative负责网络、自动伸缩(甚至到零)和修订跟踪的细节。
            团队可以使用任何编程语言专注于核心逻辑。
          </p>
          <p class="normal-text">
            事件的通用订阅、交付和管理。
            通过将计算附加到具有声明性事件连通性和开发人员友好的对象模型的数据流，构建现代应用程序。
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="trying-it-all-container">
    <div class="md-grid md-typeset">
      <h1>一起尝试</h1>
      <div class="img-table">
        <div class="img-row">
          <div class="img-col">
            <div class="reason-img">
              <img src="images/home-images/dev_focus_code_icon.svg" alt="" draggable="false" />
            </div>
            <div class="reason-text">
              <h2>开发人员关注代码</h2>
              <p class="normal-text">用更少的YAML配置从容器到URL</p>
            </div>
          </div>

          <div class="img-col">
            <div class="reason-img">
              <img src="images/home-images/dkblue_scale_icon.svg" alt="" draggable="false" />
            </div>
            <div class="reason-text">
              <h2>放大和缩小</h2>
              <p class="normal-text">根据交通模式缩小到零</p>
            </div>
          </div>

          <div class="img-col">
            <div class="reason-img">
              <img src="images/home-images/cloud_agnostic_icon.svg" alt="" draggable="false" />
            </div>
            <div class="reason-text">
              <h2>云不可知论者</h2>
              <p class="normal-text">控制交通转移，以更顺利地推出</p>
            </div>
          </div>
        </div>
      </div>
      <a href="{{ 'install/' | url }}" class="md-button call-to-action"> 部署 Knative 今天 </a>
    </div>
  </section>

  <section class="case-studies-container">
    <div class="md-grid md-typeset">
      <h1>案例研究</h1>
      <div class="cases-table">
        <div class="col">
          <a href="{{ 'about/case-studies/deepc/' | url }}">
            <div class="logo">
              <img class="deepc" src="images/case-studies/deepc.png" alt="" draggable="false" />
            </div>
            <hr />
            <p class="normal-text">
              "有算法的人应该可以在一个小时内把它放到平台上"<br /><br />

              —Andrew Webber,<br />
              deepc高级软件工程师
            </p>
          </a>
        </div>
        <div class="col">
          <a href="{{ 'about/case-studies/outfit7/' | url }}">
            <div class="logo">
              <img class="outfit7" src="images/case-studies/outfit7.png" alt="" draggable="false" />
            </div>
            <hr />
            <p class="normal-text">
              "社区的支持真的很棒。与Knative的亲身体验让我印象深刻。在Slack频道上，我们有真正的工程师来回答我们的问题"<br /><br />

              —Tilen Kavcic,<br />
              Outfit7的软件工程师
            </p>
          </a>
        </div>
        <div class="col">
          <a href="{{ 'about/case-studies/puppet/' | url }}">
            <div class="logo">
              <img class="puppet" src="images/case-studies/puppet.png" alt="" draggable="false" />
            </div>
            <hr />
            <p class="normal-text">
              "我是与开源供应商合作的坚定支持者。
              我们已经为许多项目做出了贡献，包括Tekton、Knative、Ambassador和gVisor——所有这些都是我们产品功能的依赖。"<br /><br />

              —Noah Fontes,<br />
              Puppet高级首席软件工程师
            </p>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="cncf-notice-container">
    <h3Knative是一个<a href="https://www.cncf.io/">云原生计算基金会</a>孵化项目</h3>
    <img class="cncf-logo" src="images/home-images/cncf-color.png" alt="" draggable="false" />
  </section>

  <section class="whats-next-container">
    <div class="md-grid md-typeset">
      <h1>接下来是什么?</h1>
      <div class="component-flex">
        <div class="pane">
          <a href="https://slack.knative.dev" title="Slack Link">
            <div class="twemoji">{% include ".icons/fontawesome/brands/slack.svg" %}</div>
            <h2>在Slack上与我们交流</h2>
            <p class="normal-text">有兴趣了解更多，与其他贡献者交谈，或寻找答案吗?</p>
          </a>
        </div>
        <div class="pane">
          <a href="./community/contributing/" title="Contributing Link">
            <div class="twemoji">{% include ".icons/fontawesome/brands/github.svg" %}</div>
            <h2>贡献欢迎</h2>
            <p class="normal-text">想加入Github上的乐趣吗?随时欢迎新用户!</p>
          </a>
        </div>
        <div class="pane">
          <a href="https://twitter.com/KnativeProject" title="Twitter Link">
            <div class="twemoji">{% include ".icons/fontawesome/brands/twitter.svg" %}</div>
            <h2>在推特上关注我们</h2>
            <p class="normal-text">用于功能公告、有趣的Knative新闻和其他伟大的事情。</p>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %} {% block scripts %} {{ super() }}
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const logos = document.getElementById("usedby").getElementsByTagName("div");
    for (let i = 0; i < logos.length - 1; i++) {
      // Technically there's a chance two elements end up with the same
      // random order in which case the result won't be truly random (it'll be based
      // on the original document order). This really doesn't matter.
      logos[i].style.order = Math.floor(Math.random() * 99);
    }
    logos[logos.length - 1].style.order = 100;
  });
</script>
{% endblock %}

<!-- Application footer -->
{% block footer %} {% include "partials/footer.html" %} {% endblock %}
