[submodule "assets/vendor/bootstrap"]
	path = assets/vendor/bootstrap
	url = https://gitee.com/wdk-doc/bootstrap.git
[submodule "assets/vendor/Font-Awesome"]
	path = assets/vendor/Font-Awesome
	url = https://gitee.com/wdk-doc/Font-Awesome.git
